@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.menu {
  @apply absolute top-20 left-40 text-white p-1 text-xl tracking-[0.2rem] hover:cursor-pointer font-sans font-semibold before:absolute before:bg-white before:w-full before:h-[1px] before:bottom-0 hover:before:-translate-x-[100%] after:absolute after:bg-white after:w-full after:h-[1px] after:bottom-0 hover:after:-translate-x-[100%] overflow-hidden;

  &::after {
    transition: all 0.4s ease-in-out 0.1s;
  }
  &::before {
    transition: all 0.4s ease-in-out;
  }
  &:not(:hover)::before {
    @apply translate-x-0; /* No translate when not hovered */
    transition: all 0.4s ease-in-out 0.1s;
  }
  &:not(:hover)::after {
    @apply translate-x-0; /* No translate when not hovered */
    transition: all 0.4s ease-in-out;
  }
}

.admission {
  @apply absolute top-20 right-40 text-white text-xl p-1 tracking-[0.2rem] hover:cursor-pointer font-sans font-semibold before:absolute before:bg-white before:w-full before:h-[1px] before:bottom-0 hover:before:-translate-x-[100%] after:absolute after:bg-white after:w-full after:h-[1px] after:bottom-0 hover:after:-translate-x-[100%] overflow-hidden;

  &::after {
    transition: all 0.4s ease-in-out 0.1s;
  }
  &::before {
    transition: all 0.4s ease-in-out;
  }
  &:not(:hover)::before {
    @apply translate-x-0; /* No translate when not hovered */
    transition: all 0.4s ease-in-out 0.1s;
  }
  &:not(:hover)::after {
    @apply translate-x-0; /* No translate when not hovered */
    transition: all 0.4s ease-in-out;
  }
}
body::-webkit-scrollbar {
  display: none;
}
/* lenis */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}
